<a href="https://colab.research.google.com/github/piyushthakur16/ML_assignment/blob/main/Assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src="http://cfs22.simplicdn.net/ice9/new_logo.svgz "/>

# Assignment 02: Evaluate the Diabetes Dataset

*The comments/sections provided are your cues to perform the assignment. You don't need to limit yourself to the number of rows/cells provided. You can add additional rows in each section to add more lines of code.*

*If at any point in time you need help on solving this assignment, view our demo video to understand the different steps of the code.*

**Happy coding!**

* * *

#### 1: Import the dataset

In [1]:
#Import the required libraries
import numpy as np
import pandas as pd

In [2]:
#Import the diabetes dataset
df_dia = pd.read_csv('/content/pima-indians-diabetes.data', header=None)

#### 2: Analyze the dataset

In [3]:
#View the first five observations of the dataset
df_dia.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

#### 3: Find the features of the dataset

In [12]:
#Use the .NAMES file to view and set the features of the dataset
feature_names = ['Pregnant', 'glucose','bp', 'skin_thickness', 'insulin', 'BMI', 'pedigree','age', 'label']

In [13]:
#Use the feature names set earlier and fix it as the column headers of the dataset
df_dia = pd.read_csv('/content/pima-indians-diabetes.data', header = None, names = feature_names)

In [14]:
#Verify if the dataset is updated with the new headers
df_dia.head()

   Pregnant  glucose  bp  skin_thickness  insulin   BMI  pedigree  age  label
0         6      148  72              35        0  33.6     0.627   50      1
1         1       85  66              29        0  26.6     0.351   31      0
2         8      183  64               0        0  23.3     0.672   32      1
3         1       89  66              23       94  28.1     0.167   21      0
4         0      137  40              35      168  43.1     2.288   33      1

In [16]:
#View the number of observations and features of the dataset
df_dia.shape

(768, 9)

#### 4: Find the response  of the dataset

In [15]:
#Select features from the dataset to create the model
select = ['Pregnant', 'insulin','BMI', 'age']

In [17]:
#Create the feature object
X_feat = df_dia[select]

In [18]:
#Create the reponse object
y_target = df_dia['label']

In [19]:
#View the shape of the feature object
X_feat.shape

(768, 4)

In [20]:
#View the shape of the target object
y_target.shape

(768,)

#### 5: Use training and testing datasets to train the model

In [21]:
#Split the dataset to test and train the model
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_feat, y_target, random_state =1)

#### 6: Create a model  to predict the diabetes outcome

In [23]:
# Create a logistic regression model using the training set
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression() 
log_reg.fit(X_train, y_train)

LogisticRegression()

In [25]:
#Make predictions using the testing set
y_pred=log_reg.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0])

#### 7: Check the accuracy of the model

In [26]:
#Evaluate the accuracy of your model
from sklearn import metrics
metrics.accuracy_score(y_test, y_pred)

0.6927083333333334

In [29]:
#Print the first 30 actual and predicted responses
print ('actual/n',y_test.values[0:30] )

print()
print('PRED/n', y_pred[0:30])

actual/n [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 0 0 1 1 1 1 0 0 0 1 0 1]

PRED/n [0 0 0 0 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0]